<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750078014188-44sh7sl556hcq4bv2do7lajb8mjuushs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750078014188-44sh7sl556hcq4bv2do7lajb8mjuushs</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Owp25FKIGKSsDK9uBQXZp6C6hnY_Srw</string>
	<key>GCM_SENDER_ID</key>
	<string>750078014188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-73703</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-73703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750078014188:ios:a37d2c8dc787259946abc9</string>
</dict>
</plist>